.landing
  %h1 Restaur.rt
  %p Restaur.rt is a weekend project by David Pick and Derek Hammer that attempts to help local restaurants in creating an attractive, usable website.
  %a{"href" => new_restaurant_path}
    .landing_button
      Create a Restaurant Webpage
