.landing
  %h1 Restaur.tr
  %a{"href" => new_restaurant_path}
    %button{"class" => "landing_button"}
      Create a Restaurant Webpage
  %p Create a professional and socially connected website for your restaurant in seconds! Restaurtr has helped businesses all over the world create modern websites that keep them connected with loyal customers. Allow us to take care of the website while you focus on what you do best -- the restaurant.
